body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 html{
   height: 100vh;
 }

 .main {
   flex: 1 0 auto;
 }

#logoImg {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 100%;
}

.navigation {
  background-color: #ffd100;
  padding-left: 10px
}


#signoutForms {
  display: inline-block;
}

#passionPhoto {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 50%;
}

#page-footer {
  background-color: #ffd100;
}

#profileImg {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 50%;
  margin-right: 100px;
}

#map {
  width: 90%;
  height: 300px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#schoolImg {
  width: 100%;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#note {
  -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #f0f7fb;
    /*background-image: url(../Images/icons/Pencil-48.png);*/
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border: solid 1px #3498db;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 60px;
}

#feedContainer {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 600px;
  height: auto !important;
  height: 600px;
  padding: 20px 20px 20px 20px;
}

:root {
     — space: 1.5em 0;
     — space: 2em 0;
}
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Site-content {
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;
}
